:root {
  --primary-color: #968B7C;
  light-color: #ffffff;
  --fade-secundary-color: #DDF4FF;
* {
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--fade-secundary-color);
  font-family: Arial, Helvetica, sans-serif
}
.logo a {
  font-size: 1rem;
  color: var( -- brand-log);
  font-weight: bold;
  text-decoration: none;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}  
.item-link {
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: bold;
    font-size: 0.9rem;
}

.item-link:hover {
    color: var(--hover-text-color);
}
